---
import { Image } from "astro:assets";
import { Github, Linkedin } from "lucide-astro";

import hiImage from "../assets/hi_how_are_you.jpeg";
import ogImage from "../assets/ogimage.jpeg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acau達 Sperl de Faria"
        description="Acau達 Sperl de Faria website"
        openGraph={{
          basic: {
            title: "Acau達 Sperl de Faria",
            type: "website",
            image: ogImage.src,
          }
        }}
>
  <!-- Content -->
  <main class="flex min-h-screen items-center justify-center p-4">
    <div class="grid max-w-4xl grid-cols-1 gap-x-14 gap-y-8 md:grid-cols-2">
      <!-- Image - Left Side -->
      <div class="flex w-3xs items-center justify-center">
        <Image
          src={hiImage}
          alt='Black and white drawing from Daniel Jonston of an animal that looks like an alien frog with "hi, how are you" written on top'
          class="h-auto max-w-full"
          width={782}
          height={703}
        />
      </div>

      <!-- Text/Links - Right Side -->
      <div class="flex flex-col items-start justify-center md:justify-start md:pt-2">
        <div class="flex flex-col space-y-6 md:space-y-8">
          <h1 class="font-[PT_Mono] text-3xl tracking-wide">
            Acau達<br />Sperl de Faria
          </h1>

          <div class="flex space-x-4">
            <a
              href="https://github.com/acaua"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="GitHub"
              class="transition-transform duration-300 hover:scale-110"
            >
              <Github />
            </a>
            <a
              href="https://www.linkedin.com/in/acauafaria"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              class="transition-transform duration-300 hover:scale-110"
            >
              <Linkedin />
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
